* {
  padding: 0;
  margin: 0;
}
.card:focus,
img:focus,
a:focus {
  box-shadow: none;
  outline: none;
}
.email_top {
  color: #30bc8f;
}
.Ji_sunset {
  color: #d0d4d7;
}
.map_icon {
  padding: 0px 10px 0px 10px;
  color: #30bc8f;
}
.icon_section {
  padding: 0px 8px 0px 8px;
}
.contact_tab {
  color: #d0d4d7;
  padding: 0px 10px 0px 10px;
}
.border_take {
  border-top: 1px solid gray;
}
.financer_logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.financer-brand {
  color: black;
  font-size: 32px;
  display: contents;
}
.financer-brand:hover {
  color: #30bc8f;
}
.free_consult {
  width: 122px;
  margin: 0px 8px 0px 8px;
}
.phone_icon {
  font-size: 32px;
  color: #30bc8f;
  padding: 0px 10px 0px 10px;
}
.home-menu ul li a {
  color: gray;
}
.home-menu ul li {
  padding: 0px 10px 0px 10px;
}
.home-menu a:hover {
  color: #30bc8f;
}
.financialsolution {
  background-image: url(../images/firstimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
.financial_solution {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}
.getaquote_button:hover {
  background-color: #30bc8f;
  color: #ffffff;
}
.getaquote_button {
  width: 200px;
  border: 1px solid#30bc8f;
}
.the_european {
  color: #d0d4d7;
}
.first_card {
  width: 100%;
  transform: translate(0px, -120px);
}
.professional_card {
  box-shadow: 0px 10px 0px 0px #30bc8f;
  width: 100%;
  height: 100%;
}
.professional_icon {
  font-size: 40px;
  color: #30bc8f;
}
.some_quick {
  color: gray;
}
.about_content {
  color: #30bc8f;
}
.image-size {
  border-radius: 10% 0%;
  box-shadow: 20px 20px 0px 0px #30bc8f;
  width: 95%;
  height: 400px;
}
.services_tab {
  color: #30bc8f;
}
.explore_what {
  width: 200px;
}
.viewall_button {
  border: 1px solid #30bc8f;
}
.viewall_button:hover {
  background-color: #30bc8f;
  color: #fff;
}
.service_card_tab {
  width: 100%;
  height: 230px;
  box-shadow: 0 0 8px;
}
.service_icon {
  padding: 0px 10px 0px 10px;
  color: #30bc8f;
  font-size: 35px;
}
.sevice_somequick {
  color: #696969;

  font-size: 18px;
}
.lorem_tab {
  color: #b8c0c3;
}
/* .Services_parent {
  position: relative;
  top: 20%;
} */
.Service-explore {
  background-color: #f5fffc;
}
.GetExpert {
  background-color: #ffffff;
}
.expert_pic {
  height: 325px;
  box-shadow: -20px -20px 0px 0px #30bc8f;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.who_we {
  color: #30bc8f;
}
.some_quick_far {
  color: gray;
}
.investment_planning {
  position: relative;
}
.eightysix {
  position: absolute;
  top: 0;
  right: 15%;
}
.Account_sourcing {
  position: relative;
}
.Eighty {
  position: absolute;
  top: 0;
  right: 18%;
}
.Business_taxation {
  position: relative;
}
.SeventyEight {
  position: absolute;
  top: 0;
  right: 20%;
}
.Payrool_salary {
  position: relative;
}
.eightythree {
  position: absolute;
  top: 0;
  right: 15%;
}
.progress_tab {
  color: #30bc8f;
}
.metrics_icon {
  font-size: 40px;
  color: #5b615f;
  padding: 0px 12px 0px 0px;
}
.metrics {
  background-color: #f5fffc;
}
.Our_team {
  color: #30bc8f;
}
/* .expert_team {
  height: 340px;
  width: 100%;
  border-radius: 10% 0%;
} */
.OurTeam {
  background-color: #ffffff;
  width: 100%;
  height: 650px;
}
.footerSection {
  background-color: #464f60;
}
.oneday_hover {
  color: gray;
}
.footer_call {
  width: 145px;
  color: gray;
}
.map_icon_footer {
  padding: 0px 4px 0px 4px;
  color: #30bc8f;
}
.lorem_footer {
  color: gray;
}
.footer_call:hover {
  color: #30bc8f;
}
.Ji_sunset {
  padding: 0px 10px 0px 10px;
  color: gray;
}
.stylefooter {
  border-top: 1px solid gray;
}
.download_footer {
  color: #787d81;
  font-size: 17px;
}
.footer_card {
  transform: translate(0px, 62px);
}
.send_button:hover {
  background-color: #30bc8f;
  color: #ffffff;
}
.send_button1:hover {
  background-color: #30bc8f;
  color: #ffffff;
}
.emailadrees_tab {
  position: relative;
  top: 34%;
}
.team_expert_tab {
  position: relative;
  top: 5%;
}
.clock_icon {
  color: #30bc8f;
  padding: 0px 5px 0px 0px;
}
.phone_icon_footer {
  font-size: 26px;
  color: #30bc8f;
}
.jennifer_photo {
  /* border-radius: 10% 0%; */
  box-shadow: 0px 0px 15px 1px #00000022;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.our-team-expert {
  width: 100%;
  height: 100%;
}
.expert_progress_bar {
  background-color: #30bc8f;
}
.financerfooter_tab {
  line-height: 36px;
}
